/* fix flask form query select multiple rendering issue */
ul.form-control {
	height: unset !important;
	border: none !important;
}

.navbar-default {
    background-color: rgb(152, 30, 50) !important;
	/* text-emphasis-color: rgb(94, 106, 113); */
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(255, 255, 255);
}


footer {
    position: absolute;
    bottom: 1;
    width: 100%;
	text-align: center;
	color: white;
} 

body {
    padding-bottom: 50px;
}