<table class="table table-hover">
    <tr valign="center">
        <td width="10%"> {{position.title}} </td>
        <td width="50"> Description: {{position.description}}
            <br>
            {{position.additional_requirements}}
        </td>
        <td width="20%">
            Start Date: {{position.start_date}}
            <br>
            End Date: {{position.end_date}}
        </td>
        <td width="20%">
            <!-- Programming languages and redearch fields will go here-->
        </td>
    </tr>

</table>