<table class="table table-hover">
    <tr valign="center">
        <td width="10%"> {{position.title}} </td>
        <td width="40">
            Description: {{position.description}}
            <br>
            Additional Requirements: {{position.additional_requirements}}
        </td>
        <td width="20%">
            Start Date: {{ moment(position.start_date).format('LL') }}
            <br>
            End Date: {{ moment(position.end_date).format('LL') }}
        </td>
        <td width="20%">
            Research Fields:
            {% for field in position.research_fields %} {{ field.name }} {% endfor %}
            <br>
            Programming Languages:
            {% for language in position.languages_required %} {{ language.name }} {% endfor %}
        </td>
        <td width="10%">
            {% if position.faculty_id == current_user.id %}
                <p>This is your research position</p>
                <a href="{{ url_for('routes.viewapplications', positionid=position.id) }}" class="btn btn-primary">View Applications</a>
            {% elif current_user.user_type == "Faculty" %}
                <p>Faculty members cannot apply to positions</p>
            {% elif applications | selectattr('research_position_id', 'equalto', position.id) | list %}
                <p>You have already applied to this position</p>
            {% else %}
                <a href="{{ url_for('routes.apply', positionid=position.id) }}" class="btn btn-primary">Apply</a>
            {% endif %}
        </td>
    </tr>
</table>