<table class="table table-hover">
    <tr valign="center">
        <td width="10%"> {{position.title}} </td>
        <td width="50">
            Description: {{position.description}}
            <br>
            Additional Requirements: {{position.additional_requirements}}
        </td>
        <td width="20%">
            Start Date: {{ moment(position.start_date).format('LLL') }}
            <br>
            End Date: {{ moment(position.end_date).format('LLL') }}
        </td>
        <td width="20%">
            Research Fields: {{ position.research_fields }}
            {% if position.languages %}
                <br>
                Programming Languages: {{ position.languages }}
            {% endif %}
        </td>
    </tr>

</table>