{% extends "base.html" %}

{% block app_content %}
    <h1>Sign In</h1>
    {%if form %}    
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, action = url_for('auth.login'))}}
            </div>
        </div>
        
    {% endif %}
    <br>
    <p> New Student? <a href="{{ url_for('auth.student_registration') }}"> Click to Register! </a> </p>
    <p> New Faculty? <a href="{{ url_for('auth.faculty_registration') }}"> Click to Register! </a> </p>

{% endblock %}